.header__logo {
  max-width: 142px;
  object-fit: contain;
}

@media (max-width: 910px) {
  .header__logo {
    padding-left: 27px;
  }
}

@media (max-width: 500px) {
  .header__logo {
    max-width: 103px;
  }
}
