.profile__info {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 18px;
  row-gap: 7px;
  max-width: 550px;
}

@media (max-width: 500px) {
  .profile__info {
    column-gap: 10px;
    padding-left: 22px;
  }
}
