.element__delete_hidden {
  visibility: hidden;
  background: url(../../../../images/button-delete.svg) center no-repeat;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 18px;
  height: 19.3px;
  border: none;
  margin: 0;
  cursor: pointer;
  transition: opacity .5s;
}

